# Files with sensible api keys or secrets
workers/vectorize/.env
workers/format/.env
workers/deploy/.env

# Virtual environments to isolate dependencies
env/

# Visual Studio Code Configuration
.vscode/

# Auto Generated Python Cache
__pycache__/

# Shared volumes, without .gitkeep
backend/data/*
!backend/data/.gitkeep

workers/vectorize/databases/*
!workers/vectorize/databases/.gitkeep

backend/prompts/*
!backend/prompts/.gitkeep

