# Files with sensible api keys or secrets
pipelines/vectorize/.env
pipelines/format/.env
pipelines/deploy/.env

# Virtual environments to isolate dependencies
env/

# Visual Studio Code Configuration
.vscode/

# Auto Generated Python Cache
__pycache__/

# Shared volumes, without .gitkeep
backend/data/*
!backend/data/.gitkeep

pipelines/vectorize/databases/*
!pipelines/vectorize/databases/.gitkeep

backend/prompts/*
!backend/prompts/.gitkeep

