# Archivos con variables de entorno e información sensible
#.env
pipelines/format/.env
# Entornos virtuales para aislar dependencias
env/

# Carpeta autogenerada por visual
.vscode/

# Cache generado por python
__pycache__/

# Ignorar todo el contenido de /data excepto su .gitignore
backend/data/*

